<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>qr-code-scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">qr-code-scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="isSuported">
    <ion-item *ngFor="let qrCode of barCodes">
      <ion-label>{{qrCode.format}} : {{qrCode.rawValue}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button  (click)="scanQrCode()" title="Capturar" [disabled]="!isSuported">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
    <!--ion-fab-list side="end">
      <ion-fab-button (click)="generarBarCode()" title="Generar">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="limpiarBarCode()" title="Limpiar">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </!--ion-fab-list-->
  </ion-fab>

  <ion-toast
    [isOpen]="showMessage"
    [message]="message"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
