<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" novalidate (ngSubmit)="doLogin()">
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" formControlName="usernameField"></ion-input>
    </ion-item>
    <div *ngIf="form.get('usernameField')?.invalid && (form.get('usernameField')?.dirty || form.get('usernameField')?.touched)">
      <small *ngIf="form.get('usernameField')?.errors?.['required']" class="ion-padding msg-error">
        Campo requerido
      </small>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" formControlName="passwordField"></ion-input>
    </ion-item>
    <div *ngIf="form.get('passwordField')?.invalid && (form.get('passwordField')?.dirty || form.get('passwordField')?.touched)">
      <small *ngIf="form.get('passwordField')?.errors?.['required']" class="ion-padding msg-error">
        Campo requerido
      </small>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="form.invalid">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-toast
    [isOpen]="showMessage"
    [message]="message"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
