<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">user</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input placeholder="Nombres" type="text" formControlName="nombres"></ion-input>
    </ion-item>
    <div *ngIf="form.get('nombres')?.invalid && (form.get('nombres')?.dirty || form.get('nombres')?.touched)">
      <small *ngIf="form.get('nombres')?.errors?.['required']" class="ion-padding msg-error">
        Campo requerido
      </small>
      <small *ngIf="form.get('nombres')?.errors?.['minlength']" class="ion-padding msg-error">
        Mínimo 3 caracteres
      </small>
      <small *ngIf="form.get('nombres')?.errors?.['maxlength']" class="ion-padding msg-error">
        Máximo 10 caracteres
      </small>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input placeholder="Apellidos" type="text" formControlName="apellidos"></ion-input>
    </ion-item>
    <div *ngIf="form.get('apellidos')?.invalid && (form.get('apellidos')?.dirty || form.get('apellidos')?.touched)">
      <small *ngIf="form.get('apellidos')?.errors?.['required']" class="ion-padding msg-error">
        Campo requerido
      </small>
      <small *ngIf="form.get('apellidos')?.errors?.['minlength']" class="ion-padding msg-error">
        Mínimo 3 caracteres
      </small>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
      <small *ngIf="form.get('email')?.errors?.['required']" class="ion-padding msg-error">
        Campo requerido
      </small>
      <small *ngIf="form.get('email')?.errors?.['email']" class="ion-padding msg-error">
        Formato de email inválido (1)
      </small><br />
      <small *ngIf="form.get('email')?.errors?.['pattern']" class="ion-padding msg-error">
        Formato de email inválido (2)
      </small>
    </div>
    <ion-radio-group lines="full" formControlName="genero">
      <ion-list-header>
        <ion-label>Genero</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Maculino</ion-label>
        <ion-radio slot="start" value="M" checked ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Femenino</ion-label>
        <ion-radio slot="start" value="F"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-list>
      <ion-item>
        <ion-label>Tipo de ID</ion-label>
        <ion-select aria-label="Tipos de ID" interface="popover" placeholder="Seleccione..."
          formControlName="tipoId">
          <ion-select-option *ngFor="let tipoId of tiposId" [value]="tipoId.value">{{tipoId.label}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item lines="full">
      <app-test></app-test>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="form.invalid">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-toast
    [isOpen]="showMessage"
    [message]="message"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
