<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>qr-code-generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">qr-code-generator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="qrCode">
    <qr-code [value]="qrCode" size="300" errorCorrectionLevel="M"></qr-code>
  </div>

  <ion-input [formControl]="texto"></ion-input>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="capturarQrCode()" title="Generar">
        <ion-icon name="qr-code"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="limpiarQrCode()" title="Limpiar">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
