<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">imagen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="image">
    <ion-card-header>
      <ion-card-title>Imagen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="image"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="image"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="cargarImagen()" title="Cargar imagen">
        <ion-icon name="eye"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="borrarImagen()" title="Borrar imagen">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="descargarImagen()" title="Descargar imagen">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-toast
    [isOpen]="showMessage"
    [message]="message"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
