<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>storage-set</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">storage-set</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Ingrese el nombre</ion-label>
  <ion-input [formControl]="nombre"></ion-input>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="setNombre()" title="Guardar">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="clear()" title="Limpiar">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
