<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>pdf-viewer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pdf-viewer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="pdf">
      <pdf-viewer [src]="pdf"
                [render-text]="true"
                [original-size]="false"
                class="pdf-viewer"></pdf-viewer>
    </div>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button (click)="showFileFromUrl()" title="Ver PDF">
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="showFile()" title="Cargar PDF">
          <ion-icon name="cloud-upload"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="showFileInBrowser()" title="Ver PDF en Browser">
          <ion-icon name="browsers"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
  <ion-toast
    [isOpen]="showMessage"
    [message]="message"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
></ion-toast>
</ion-content>
