<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--ion-title>bar-code-generator</!--ion-title-->
    <ion-title>Bienvenido {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">bar-code-generator</ion-title>
    </ion-toolbar>
  </ion-header>
  <div [hidden]="!showBarCode" >
    <img id="barcode"/>
  </div>
  <ion-label>Ingrese el valor</ion-label>
  <ion-input [formControl]="texto"></ion-input>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="generarBarCode()" title="Generar">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="limpiarBarCode()" title="Limpiar">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
